#calculator-wrapper{
    min-width: 25rem;
}

#calculator-wrapper div{
    background: rgb(165, 193, 247);
    margin:0;
    border-radius: 10q;
    display: flex;
    justify-content: center;
    align-items: center;
}